In [119]:
import pandas as pd
import pickle
dataset_path = "./data/datasetv2.csv"
scaler_path = "./bin/scaler.dat"
pca_path = "./bin/pca.dat"
ncomponents_path = "./bin/ncomponents.dat"

df = pd.read_csv(dataset_path)
scaler = pickle.load(open(scaler_path, "rb"))
pca = pickle.load(open(pca_path, "rb"))
ncomponents = pickle.load(open(ncomponents_path, "rb"))

print("Completed")
df.tail(5)

Completed

,1,2,3,4,5,6,7,8,9,10,...,70,71,72,73,74,75,76,77,78,path
14517,-3.170989,-2.996714,0.828204,-0.878196,-0.531394,-1.182663,-1.111741,0.629352,-1.366821,-1.340037,...,0.576224,0.301157,-0.586527,-0.515037,0.282112,0.478309,-0.118994,-0.082266,0.038409,Roger_Moore/Roger_Moore_0002.jpg
14518,-3.371913,-1.174224,2.820729,-2.667284,-2.189126,-1.993203,-0.687664,-2.218987,-2.426848,-1.035588,...,0.954387,1.162301,-0.381677,0.345003,0.163142,-0.125296,-0.054198,-0.248201,0.027058,Roger_Moore/Roger_Moore_0004.jpg
14519,4.836418,-0.802957,-1.360654,-0.806358,2.729610,-3.426629,-1.105915,-1.512204,1.639285,0.128541,...,-0.108606,-1.622835,0.392407,-0.105938,0.393203,0.292933,-0.295693,-0.541797,0.034105,Infanta_Cristina/Infanta_Cristina_0001.jpg
14520,4.645473,-2.690024,0.503463,2.895063,-2.805714,1.915525,-0.378131,2.963921,-2.727440,-0.479845,...,-0.088076,-0.221576,0.056158,-0.555941,-0.360521,-0.301659,-0.304309,-0.238013,-0.048939,Iva_Majoli/Iva_Majoli_0002.jpg
14521,3.520371,-1.916094,0.728816,2.408898,-2.020900,2.722483,1.198666,4.297486,-2.326022,-0.430098,...,-0.205065,0.659765,0.759159,0.045432,0.013245,0.224359,-0.205067,0.297170,-0.054768,Iva_Majoli/Iva_Majoli_0001.jpg

In [122]:
features = [str(i) for i in range(1, ncomponents+1)]
x = df.loc[:, features]
y = df.loc[:, ["path"]]
y.tail(5)

                                             path
14517            Roger_Moore/Roger_Moore_0002.jpg
14518            Roger_Moore/Roger_Moore_0004.jpg
14519  Infanta_Cristina/Infanta_Cristina_0001.jpg
14520              Iva_Majoli/Iva_Majoli_0002.jpg
14521              Iva_Majoli/Iva_Majoli_0001.jpg

In [149]:
import numpy as np
from rtree import index
nrows = df.shape[0]

path = "./bin/rtree_index"
p = index.Property()
p.dimension = ncomponents #D

idx = index.Index(path, properties=p)

for i in range(nrows):
    v = x.iloc[i].values
    image = y.iloc[i].values[0]
    point = tuple(np.concatenate([v, v]))
    idx.insert(i, point, obj=image)

idx.close()
print("rtree ready")

rtree ready