In [26]:
import pandas as pd
import pickle
# dataset_path = "./data/datasetv2.csv"
# scaler_path = "./bin/scaler.dat"
# pca_path = "./bin/pca.dat"
# ncomponents_path = "./bin/ncomponents.dat"
dataset_path = "./data/dataset_12800.csv"
scaler_path = "./bin/scaler.dat"
pca_path = "./bin/pca.dat"
ncomponents_path = "./bin/ncomponents.dat"

df = pd.read_csv(dataset_path)
scaler = pickle.load(open(scaler_path, "rb"))
pca = pickle.load(open(pca_path, "rb"))
ncomponents = pickle.load(open(ncomponents_path, "rb"))

print("Completed")
df.tail(5)

Completed

,1,2,3,4,5,6,7,8,9,10,...,70,71,72,73,74,75,76,77,78,path
6395,-2.971505,-2.562796,2.590715,-0.100199,-2.649539,0.702941,-0.024405,-0.101645,-2.931012,-1.062218,...,-0.013491,-0.880041,-0.294682,-0.177522,-0.176464,-0.422022,-0.814666,0.016071,0.022170,Clint_Eastwood/Clint_Eastwood_0006.jpg
6396,-0.621242,2.084594,5.164434,1.028709,2.409260,-0.959153,-1.033703,1.367307,1.054979,1.609723,...,0.176051,0.146593,0.063669,-0.361902,-0.370392,0.116055,-0.281404,0.013309,0.077410,Javier_Weber/Javier_Weber_0003.jpg
6397,-0.686178,7.070983,2.094083,-0.545645,1.019438,1.049455,6.371520,-0.630666,-3.786283,0.148281,...,-0.960655,0.804040,0.659728,-0.251397,0.158593,0.018967,1.115263,0.012977,0.016150,Kofi_Annan/Kofi_Annan_0011.jpg
6398,6.592157,-1.482162,0.937540,-1.822208,1.868841,-2.954524,0.561812,0.996745,4.615264,4.041735,...,0.079517,0.024544,-1.339788,-0.281753,-0.661917,0.196541,0.978254,-0.078682,0.021276,Britney_Spears/Britney_Spears_0014.jpg
6399,-1.092478,4.515245,0.813630,3.729034,1.143108,1.617582,2.177861,-2.677423,-0.967132,0.470072,...,0.204471,-0.903254,-0.586250,0.628502,-0.106792,0.292825,0.088431,-0.136421,-0.010927,Stephen_Silas/Stephen_Silas_0001.jpg

In [27]:
features = [str(i) for i in range(1, ncomponents+1)]
x = df.loc[:, features]
y = df.loc[:, ["path"]]
y.tail(5)

                                        path
6395  Clint_Eastwood/Clint_Eastwood_0006.jpg
6396      Javier_Weber/Javier_Weber_0003.jpg
6397          Kofi_Annan/Kofi_Annan_0011.jpg
6398  Britney_Spears/Britney_Spears_0014.jpg
6399    Stephen_Silas/Stephen_Silas_0001.jpg

In [28]:
import numpy as np
from rtree import index
nrows = df.shape[0]

path = "./bin_test/rtree_index"
p = index.Property()
p.dimension = ncomponents #D

idx = index.Index(path, properties=p)

for i in range(nrows):
    v = x.iloc[i].values
    image = y.iloc[i].values[0]
    point = tuple(np.concatenate([v, v]))
    idx.insert(i, point, obj=image)

idx.close()
print("rtree ready")

rtree ready